<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration> 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WPTraceOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--https://wp-callbackwebapi.azurewebsites.net/api/Webhook-->
    <!--CIBC Real Time Monitoring App at cibctest.facebook.com-->
   <!--<add key="app_ID" value="150764529042457"/>
    <add key="appSecret" value="c237e4905e1785299e4f22cdedcab84f"/>
    <add key="pageToken" value="DQVJzNEx1bnNheV9JaFNKNTdEMzRYbnZAjQkxEZAnIybkxIVHNrNTdOVnpNRFkxRUdKUC1RRjdSYktNaDZA5bFBQRUlGaWNneG9LS0VGc05vRmQtUDNQanM3MVZAqSktRSS0tZA3NxUk1hZAGVVLVBiWk9MNzlMQWplYjRlem9DcUhaSVBBWTZAOaW9uR3JaQ1RacVZASTTdEUU5rNUFTTzN6aF9lWTE0X3owU0JDeVlseU8zTzUyc1AxWlFvTC1lbnZAWNUVQNjB0dmNLa2N5VzdNV0JCUwZDZD"/>-->

    <!--CIBC Real Time Monitoring App at cibc.facebook.com-->
    <add key="app_ID" value="309396526132314"/>
    <add key="appSecret" value="016aedf91eb245872fa87648da4b7b14"/>
    <add key="pageToken" value="DQVJ0RkRBS05XQlhHbXFzd0dVSjZAIYjlhcEl4VEx0emlfUHN3YWZAvS3pBdHNkTTBISE0yeXlveFFJWjdlbVE0Mk9GZAFZAPdDhUS3RlU2FaZA0xSbWlUZA3MxTVBReXNkRThQV3MxX1R0NWRRdWoycVd5OVBUWGtFWWJESlJRRFowUGxVOWFuU05LT0k4bkU3ZAFlfSWhXVGlwSi03N3NRY3BpdkkxTDJWN3JIWXU0WlJrY09COU5NUFZA2WVh3eG5iRF9rTG03ZATU1dFB6VVNYNHdqXwZDZD"/>

    <!--This folder will keep all XML files-->
    <add key="WPXMLFOLDER" value="WPFiles"/>    
   <!--Following text file conains bad words-->
    <add key="BADWORDSFILENAME" value="Resources\Badwords.txt" />
    <!-- Following text file contains regex formats -->
    <add key="REGEXFORMATFILENAME" value="Resources\RegexFormat.txt" />
     <!-- Following text file contains parameters -->
    <add key="PARAMETERSFILENAME" value="Resources\Parameters.txt" />     
    
  </appSettings>
</configuration>
